<!-- base.htmlと連携 -->
{% extends "app/base.html" %} 
{% load widget_tweaks %}

{% block content %}
<div class="card card-auth my-5 mx-auto">
    <div class="card-body">
        <p class="card-title text-center">ログアウトしますか？</p>
        <form method="post" class="form-auth">
            <!-- サーバーに送信するためのセキュリティ対策 -->
            {% csrf_token %}
            <div class="text-center">
                <button class="btn btn-lg btn-danger btn-block mx-auto" type="submit">ログアウト</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}